.content {
  width: 98%;
  padding: 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  li {
    text-align: left;
  }
  h1 {
    font-family: 'Lobster', cursive;
  }
}

.content__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

ul b {
  font-size: 1.3rem;
  line-height: 40px;
}

// hello
.my-photo-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px white;
  background: url("../img/me.jpg");
  background-size: 100%;
  @media all and(max-height: 670px) {
    width: 200px;
    height: 200px;
  }
}

// skills
.skills-wrapper {
  > div {
    width: 470px;
    padding: 0 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    border: $second solid 1px;
    background-color: rgba(0, 0, 0, 0.03);
  }
  @media all and (max-width: 520px) {
    img {
      width: 90%;
    }
  }
}

// portfolio
.portfolio-item {
  text-align: center;
  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

.portfolio-menu {
  position: fixed;
  top: 35%;
  left: 0;
  transition: 200ms;
  width: 175px;
  @media all and (max-height: 800px) {
    top: 250px;
  }
  .portfolio-menu__title {
    position: relative;
    margin: 0;
    text-align: center;
    color: $light;
    background-color: $second;
    padding: 0 30px 5px;
    border-top-right-radius: 10px;
    line-height: 43px;
    z-index: 1;
  }
  .portfolio-menu__list {
    list-style: none;
    margin: 0;
    padding: 10px 0 20px 10px;
    background-color: rgba(0, 0, 0, 0.03);
    border: solid 1px $second;
    border-bottom-right-radius: 10px;
    .portfolio-menu__item_active{
      color: lighten($second, 20%);
      text-decoration: none;
      cursor: default;
      & li:hover{
        color: lighten($second, 20%);
      }
    }
  }
}

.portfolio-content {
  margin: 0 0 50px 200px;
}

.portfolio-item__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  ul {
    width: 25%;
    text-align: center;
    list-style: none;
    padding: 0;
    li {
      text-align: inherit;
    }
  }
}

.portfolio-item__title {
  padding-top: 10px;
}

.portfolio-item__git-img {
  position: relative;
  top: 7px;
  margin: 0 5px;
  width: 30px;
}

.portfolio-item__git-img-big {
  width: 50%;
  margin: 0 auto;
}

.portfolio-item__list_center {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.portfolio-item__block_space {
  margin: 5px;
}

@media all and (max-width: 800px) {
  .content {
    margin-top: 50px;
  }

  .portfolio-content {
    margin-left: 50px;
    min-width: 320px;
  }

  .portfolio-item__row {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    div {
      padding: 5px;
    }
    ul {
      width: 250px;
    }
  }

  .portfolio-menu {
    top: 50%;
    left: -250px;
    position: fixed;
    width: 250px;
    z-index: 1;
    @media all and (max-height: 800px) {
      top: 300px;
    }
    .portfolio-menu__title {
      transform: rotate(90deg);
      position: absolute;
      border-top-left-radius: 10px;
      width: 100%;
      left: 149px;
      cursor: pointer;
      transition: 200ms;
    }

    .portfolio-menu__title_active {
      left: 350px;
    }

    .portfolio-menu__list {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: stretch;
      border-bottom-right-radius: 0;
      width: 100%;
      height: 250px;
      left: 0;
      top: -101px;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 200ms;
      a {
        color: #fff;
        text-decoration: none;
      }
      li {
        text-align: right;
        padding: 10px 50px 10px 0;
        &:hover {
          color: $second;
          background-color: #fff;
        }
      }
    }

    .portfolio-menu__list_active {
      left: 201px;
    }
  }
}

// examples

.example {
  padding-bottom: 20px;
  border-top: solid 1px $second;
  &:last-child{
    border-bottom: solid 1px $second;
  }
}