.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  li{
    text-align: left;
  }
}

// hello
.my-photo-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px $second;
  background: url("../img/me.jpg");
}
