.main-menu {
  font-family: 'Lobster', cursive;
  list-style: none;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: $light;
  z-index: 10;
  &:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 80px;
    background: linear-gradient(to right, yellow, green, orange, violet, cyan, blue);
    transition: 400ms;
  }
  &:before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 80px;
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    opacity: 0;
    transition: 400ms;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
    &:after {
      opacity: 0;
    }
  }
  & a {
    flex-grow: 1;
    padding: 0 5px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.03);
    color: $second;
    text-decoration: none;
    transition: 500ms;
    &:hover {
      background-color: $second;
      li {
        color: $light;
      }
    }
  }
}

.main-menu__item_active {
  background-color: darken($second, 5%) !important;
  li {
    color: $light;
  }
}
