@import "~normalize.css";
@import "variables";
@import "menu";
@import "content";


main {
  display: block;
  padding: 0 10px;
  height: 100vh;
  background: linear-gradient(45deg, #f1efff, #f9ffef);
}

h1 {
  text-align: center;
}

